{% extends 'base.html' %}
{% load static %}

{% block title %}
    All My Posts
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'posts.css' %}">
    <link rel="stylesheet" href="{% static 'all-posts.css' %}">
{% endblock %}


{% block content %}
    <section id="all-posts">
        <h2>My Collected Posts</h2>

        <ul>
            {% for post in allPosts %}
                {% include 'includes/post.html' %}  
            {% endfor %}
        </ul>

    </section>
{% endblock %}
